body {
	width:100vw;
	height:100vh;
	background-color: coral;
	font-family: 'Heebo', sans-serif;
	margin:0px;
	padding:0px;
	color:white;
	text-align: left;
}

.menuItem h1{
	margin:0px;
	text-align: right;
	padding-top: 45%;
	transition: padding-top 1s;
}

#canvasContainer{
	width:100vw;
	height:100vh;

}

canvas{
	width:100vw;
	height:100vh;	
}

i.fa{
	top:0;
	right:0;
	/*display:none;*/
	height:0px;
	opacity:0;
	transition: opacity 1s;
	position:absolute;
}



.menuItem{
	cursor: pointer;
	position:absolute;
	color:white;
	left: -20vw;
	border-radius: 50%;
	background-color: steelblue;
	top:15vh;
	width:25vw;
	height:25vw;
	opacity: 0.25;
	transition: width 1s, height 1s, margin-left 1s, opacity 1s, border-radius 1s, left 1s, top 1s;
	/*transition: left 1s;*/
}


.base{
	border-radius: 50%;
	background-color: steelblue;
	top:15vh;
	width:25vw;
	height:25vw;
	/*margin-left:-20vw;*/
	transition: width 1s, height 1s, margin-left 1s, opacity 1s, border-radius 1s, left 1s, top 1s;
	/*transition: left 1s;*/
}


.hover{
	border-radius: 50%;
	background-color: steelblue;
	opacity:0.75;
	width:50vw;
	height:50vw;
	/*margin-left:-25vw;*/
	transition: width 1s, height 1s, margin-left 1s, opacity 1s, border-radius 1s, left 1s, top 1s;
	/*transition: left 1s;*/
}

.selected{
	border-radius: 0%;
	background-color: darkcyan;
	left:0;
	top:0;
	opacity:1;
	width:100vw;
	height:100vh;
	margin-left:0vw;
	transition: width 1s, height 1s, margin-left 1s, border-radius 3s, left 1s, top 1s;
	/*transition: left 1s;*/
}

.selected > i.fa{
	display:block;
	opacity:1;
	transition: opacity 1s;
	height:100%;
}

.menuItem.hover > h1, .menuItem.selected > h1{
	display:block;
	opacity:1;
	transition: opacity 1s;
	height:100%;
	padding-top: 10vh;
	transition padding-top: 1s;
}