body {
	width:100vw;
	height:100vh;
	background-color: white;
	font-family: 'Heebo', sans-serif;
	margin:0px;
	padding:0px;
	/*color:#EFEFEF;*/
	text-align: left;
}

#home{
	margin: 0px;
	overflow: hidden;
	max-height: 100vh;
	/*position: relative;*/
}

video{
	width:100vw;
	filter: opacity(0.25);
	/*filter: grayscale(1) brightness(1) contrast(.35);*/
	/*height:100vh;*/
	/*background-repeat: no-repeat;*/
}

.menuItem h1{
	margin:0px;
	margin-right:-10px;
	text-align: right;
	padding-top: 45%;
	/*opacity:0.99;*/
	transition: padding-top 0.1s, box-shadow 0.1s;
}

#canvasContainer{
	width:100vw;
	height:100vh;

}

canvas{
	width:100vw;
	height:100vh;	
}

i.fa{
	top:0;
	right:0;
	/*display:none;*/
	height:0px;
	opacity:0;
	transition: opacity 1s;
	position:absolute;
	cursor: pointer;
}



.menuItem{
	position:absolute;
	color:#000;
	/*left: -20vw;*/
	border-radius: 50%;
	background-color: steelblue;
	/*top:15vh;*/
	width:10vw;
	height:10vw;
	/*opacity: 0.5;*/
	transition: width 0.1s, height 0.1s, margin-left 0.1s, opacity 0.1s, border-radius 0.1s, left 0.1s, top 0.1s, color 0.1s;
	/*transition: left 1s;*/
}

#A001{
	top:50vh;
	left:15vw;
	background-color: #66c2a5;
}

#A002{
	top:50vh;
	left:30vw;	
	background-color: #fc8d62;	
}

#A003{
	top:50vh;
	left:45vw;		
	background-color: #8da0cb;
}

#A004{
	top:50vh;
	left:60vw;	
	background-color: #e78ac3;
}

#A005{
	top:50vh;
	left:75vw;		
	background-color: #a6d854;
}

#A001.selected{
	top:0vh;
	left:0vh;
}

#A002.selected{
	top:0vh;
	left:0vh;	
}

#A003.selected{
	top:0vh;
	left:0vh;		
}

#A004.selected{
	top:0vh;
	left:0vh;	
}

#A005.selected{
	top:0vh;
	left:0vh;		
}

#A006.selected{
	top:0vh;
	left:0vh;		
}

.base{
	border-radius: 50%;
	background-color: steelblue;

/*	margin:0px;
	margin-right:-10px;
	text-align: right;
	padding-top: 45%;*/

/*	top:15vh;
	width:25vw;
	height:25vw;*/
	margin-left: 2vw;
	text-align: left;
	transition: width 0.1s, height 0.1s, margin-left 0.1s, opacity 0.1s, border-radius 0.1s, left 0.1s, top 0.1s, padding-top 0.1s;
	/*transition: left 1s;*/

/*	margin:0px;
	margin-right:-10px;
	text-align: right;
	padding-top: 45%;
	transition: padding-top 1s;*/

}


div.hovered{
	cursor: pointer;
	border-radius: 50%;
	background-color: steelblue;
	/*left:-25vw;*/
	/*opacity:0.75;*/
	width:20vw;
	height:20vw;
	color:#000;
	z-index: 100;
	margin-right:1vw;
	transition: width 0.1s, height 0.1s, margin-left 0.1s, opacity 0.1s, border-radius 0.1s, left 0.1s, top 0.1s, color 0.1s, box-shadow 0.1s;
	/*transition: left 1s;*/
}

.selected{
	border-radius: 0%;
	background-color: darkcyan;
	left:0;
	top:0;
	opacity:1;
	color:white;
	z-index: 100;
	width:100vw;
	height:100vh;
	margin-left:0vw;
	/*opacity:0.33;*/
	transition-timing-function: ease-in;
	transition: width 0.1s, height 0.1s, margin-left 0.1s, border-radius 0.1s, left 0.1s, top 0.1s, color 0.1s;
	/*transition: left 1s;*/
}

.selected > i.fa{
	display:block;
	opacity:1;
	transition: opacity 0.1s, color 0.1s;
	height:100%;
}

.menuItem.hovered > h1, .menuItem.selected > h1{
	display:block;
	margin-right: 0px;
	opacity:1;
	transition: opacity 0.1s, color 0.1s, margin-right 0.1s, padding-top 0.1s;
	height:100%;
	padding-top: 10vh;
	transition padding-top: 0.1s;


}

