html {
  font-family: 'Kanit', sans-serif; 

  /*overflow:hidden;*/
}

/*START NAVIGATION BAR STYLE*/

#myNavbar{
  margin:0px;
  padding:0px;
  width: 90vw
}

nav.navbar{  
  background-color: #000;
  font-family: 'Kanit', sans-serif;
  font-size:1em;
  padding-left: 1vw; 
  /*max-width:90vw;*/
}

a.navbar-brand{
  padding-top: 0px;
}

.navbar{
  padding-left: 0px;
  padding-right: 0px;
  /*max-width:1200px;*/
}

li.active>a {
    display: list-item;
    text-align: left;
    border-bottom:0.5em double white;
    margin-left: none;
    padding-left: none;
    /*max-width:1200px;*/
}

.nav>li>a {
  text-align: left;
  padding:none;
  /*max-width:1200px;*/
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 1vw;
    margin-right: 1vw;
    /*max-width:1200px;*/
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background-color: #010101;
  border:none;
  /*max-width:1200px;*/
}

/*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*//*END NAVIGATION BAR STYLE*/

div#MARGIN{
  margin:0px;
  padding:0px;

}

#title{
  font-size: 10em;
  border-bottom: 0.25em double;
  font-weight: bolder;
  padding-right:1vw; 
  padding-left:1vw;
  /*max-width:1200px;*/
}

#XRtype{
  font-family: 'Kanit', sans-serif;
  font-size: 6vw;
  font-weight: bolder;
  color:#000;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 25vh;
  margin-right: 0px;
  /*max-width:1200px;    */
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

#section1{
  padding-left:0px;
  padding-right: 0px;
  display: block;
  /*width:100vw;*/
  height:97.5vh;
  overflow: hidden;
}

div#section2{
  padding-left:0px;
  padding-right: 0px;
  display: block;
  /*width:100vw;*/
  height:97.5vh;
  overflow: hidden;
}

div#section2a{
  background-color: #FFF;
  display: block;
  /*width:100vw;*/
  min-height:100vh;
  height:auto;
  padding-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5vh;
}

div#section3{
  display:block;
  padding:0px;
  padding-top: 55px;
  min-height: 100vh;
  height:auto;
}

div#sectionY{
  display:block;
  padding:0px;
  padding-top: 55px;
  height:auto;
}

div#section41{
  display: block;
  /*width:100vw;*/
  height:auto;
  margin-bottom: none;
}
div#section41b{
  background-color: black;
}

div#section42{
  display: block;
  /*width:100vw;*/
  height:auto;
  padding-bottom:5vh;
  margin-bottom: none;
}

div#section43{
  display: block;
  /*width:100vw;*/
  height:auto;
  margin-bottom: none;
  min-height:90vh;
}

h1.title{
  border-bottom: 0.25em double;
  font-weight: bolder;
  padding-right:0px; 
  padding-left:1vw;
  /*max-width:1200px;*/
}

h2{
  padding-left:2.5vw;
  padding-top:2.5vw;
}





div.viewer-port{ 
  background: #000;
  display:block;
  float:left;
  margin-left:1vw;
  margin-bottom:1vw;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 5%;
  width: 31.667vw;
  height: 31.667vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*max-width:1200px;*/
}

video{ 
  background: #000;
  display:block;
  float:left;
  margin-left:1vw;
  margin-bottom:1vw;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 5%;
  width: 48vw;
  height: 48vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*max-width:599px;*/
}



div.vid-container{
  padding:0px;
  /*max-width:1200px;*/
}

div#facilities {
  display: inline-block;
  width:48vw;
  height: auto;
  margin-left:0.5vw;
  margin-bottom: 3vh;
  vertical-align:top;
  /*max-width:1200px;*/
}

iframe{
  width:48vw;
  height: 48vw;
  border:none;
  text-align: left;
  /*max-width:1200px;*/
}

#table-container, #table-container2{
  padding-left: 2.5vw;
  margin-right: 0px; 
  /*max-width:1200px;*/
}

table{
  width:95vw; 
  /*max-width:1200px;*/
}

td{
  color:#000;
  text-transform: none;
  border-top:0.5px solid black;
  padding:2px;
  /*max-width:1200px;*/
}

div#tools {
  display: inline-block;
  width:49vw;
  height: auto;
  margin-left:0.5vw;
  vertical-align:top;
  background-size: cover;
  overflow: scroll;
  /*max-width:1200px;*/

}

div#tools > h1.displayer{
  margin-top: 0%;
  /*max-width:1200px;*/
}

div#tools:hover > h1.displayer{
  background-color: rgba(0,0,0,0.9);
  margin-top: 0%;
  display:block;
  /*max-width:1200px;*/

  -webkit-transition: background-color 1.5s ease-in;
  -moz-transition: background-color 1.5s ease-in;
  -o-transition: background-color 1.5s ease-in;
  transition: background-color 1.5s ease-in;

  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  -o-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

#sectionY div.viewer-port{
  color:white;
  /*max-width:1200px;*/
}

div.viewer-port a{
  color:#e42a1d;
  /*max-width:1200px;*/
}

div.details {
  position:absolute;
  padding-top:0.33vw;
  height:0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-width:1200px;*/
}

div.viewer-port:hover > div.details{
    height:auto;
    /*max-width:1200px;*/
}

div.viewer-port:hover > h1.displayer{
    background-color: rgba(0,0,0,0.9);
    margin-top: 0%;
    display:block;
    /*max-width:1200px;*/

  -webkit-transition: background-color 1.5s ease-in;
  -moz-transition: background-color 1.5s ease-in;
  -o-transition: background-color 1.5s ease-in;
  transition: background-color 1.5s ease-in;

  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  -o-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

div.viewer-port:hover > p.blurb{
    background-color: rgba(0,0,0,0.75);
    height:200%;
    text-overflow: ellipsis;
    /*max-width:1200px;*/
}

h1.displayer{
  position: inherit;
  display: block;
  text-align: left;
  margin-bottom: 0px;
  height:7%;
  margin-top: 93%;
  padding: 0%;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-right: 5%;
  vertical-align: baseline;
  font-size:1.5em;
  background-color: rgba(0,0,0,0.6);
  text-transform: uppercase;
  cursor:pointer;
  /*max-width:1200px;*/

  -webkit-transition: background-color 10.5s ease-out;
  -moz-transition: background-color 10.5s ease-out;
  -o-transition: background-color 10.5s ease-out;
  transition: background-color 10.5s ease-out;

  -webkit-transition: margin-bottom 0.5s ease-out;
  -moz-transition: margin-bottom 0.5s ease-out;
  -o-transition: margin-bottom 0.5s ease-out;
  transition: margin-bottom 0.5s ease-out;

  -webkit-transition: margin-top 0.5s ease-out;
  -moz-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out;

}

p.blurb{
  position: inherit;
  display: block;
  text-align: left;
  height:75%;

  padding: 5%;
  background-color: rgba(0,0,0,0.25);
  /*text-transform: uppercase;*/
  cursor:pointer;
  text-transform: none;
  /*max-width:1200px;*/

  -webkit-transition: margin-bottom 0.5s ease-out;
  -moz-transition: margin-bottom 0.5s ease-out;
  -o-transition: margin-bottom 0.5s ease-out;
  transition: margin-bottom 0.5s ease-out;

  -webkit-transition: margin-top 0.5s ease-out;
  -moz-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out;
}

p.section-blurb{
  font-size: 1.5vw;
  padding-left:1vw;
  padding-right:1vw;
  /*max-width:1200px;*/
}


/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */

#footer-break{
  /*width:100vw;*/
  border-top:1em double black;
  /*max-width:1200px;*/

}

footer{
  display:block;
  width:100vw;
  margin: 0px;
  padding: 0px;
  /*max-width:1200px;*/
}
/*.footer-container{
  width:30vw;
  min-width:340px;
  position: block;
  float: left;
}

div.footer-additional{
  display:inline-block;
  float:none;
  width:100vw;
}*/

/*NEW FOOTER STYLE*/



div.footer-container{
  width:20vw;
  min-width:20vw;
  height:auto;
  display:block;
  float:left;
  border:1px dashed white;
}


/* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER */






@media only screen and (min-width: 1200px) {

  body{
    /*max-width: 1200px;*/
    /*overflow: hidden;*/
    /*padding-left:200px;*/
  }

  h1.title, h2{
    width:63vw;
    padding-left: 0px;
  }


  #XRtype{
    font-size: 4vw;
    width:66.66vw;
    padding-left: 0vw;
    margin:0px;
  }

  div#section2{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    /*height:auto;*/
  }  

  div#section3{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    /*height:auto;*/
  }

  div#section2a{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    /*height:auto;*/
  }

  div#sectionY{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    height:auto;
  }

  div#section41{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    height:auto;
  }

  div#section42{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    height:auto;
  }  

  div#section43{
    display:block;
    padding:0px;
    padding-top: 55px;
    padding-left:19vw;
    height:auto;
  } 



  div.viewer-port{ 
    width: 20vw;
    height: 20vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right:1vw;
  }

  video{ 
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0px
  }

  div#facilities{
    margin-left: 0px

  }


  iframe{
    width:63vw;
    height: 31.5vw;
    border:none;
    text-align: left;
  }

  h1.displayer{
    font-size:1em;
    padding-left:0px;
  }

  p.blurb{
    font-size:0.75em;
    padding-left:1vw;
    padding-right:1vw;
  }  

  div#table-container, div#table-container2, table{
    width:63vw;
    padding-left:0px;
    margin-right: 0px;
  }

/*  div#facilities{
    width:63vw;
  }*/   

/*  body{

    margin:auto;
  }*/

  p.section-blurb{
    width:63vw;
    padding:0px;

  }


}


/* START MEDIUM SCREEN RESPONSIVE ELEMENT HANDLING */ /* START RESPONSIVE ELEMENT HANDLING */ /* START RESPONSIVE ELEMENT HANDLING */

@media only screen and (max-width: 1024px) {
  #title{
    font-size: 3em;
  }
  #subtitle{
    font-size: 1em;
    margin-left:25%;
    margin-right:25%;
  }

  div.viewer-port, video{
    background: #000;
    display:block;
    float:left;
    margin-top:0px;
    margin-left:1vw;
    margin-bottom:1vw;    
    padding-top: 0%;
    padding-left: 5%;
    width: 48vw;
    height: 48vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  div#facilities{
    background: #000;
    display:block;
    float:left;
    margin-top:0px;
    margin-left:0vw;
    margin-bottom:3vw;    
    padding-top: 0%;
    padding-left: 1vw;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  iframe{
    width:100vw;
    height: 50vw;
    border:none;
  }

  div#tools{
    background: #000;
    display:block;
    float:left;
    margin-top:0px;
    margin-left:0vw;
    margin-bottom:0vw;    
    padding-top: 0%;
    padding-left: 0%;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  p.section-blurb{
    font-size: 20px;
    padding-left:1vw;
    padding-right:1vw;
  }  

  .footer-container{
    width:99vw;
  }

  div.footer-container{
    width:32vw;
  }

  div#footerX{
    display:none;
  }



}

/* START SMALL SCREEN RESPONSIVE ELEMENT HANDLING */ /* START RESPONSIVE ELEMENT HANDLING */ /* START RESPONSIVE ELEMENT HANDLING */

@media only screen and (max-width: 737px) {
  #title{
    font-size: 3em;
  }
  #subtitle{
    font-size: 1em;
    margin-left:25%;
    margin-right:25%;
  }

  div.viewer-port, video{
    background: #000;
    display:block;
    float:left;
    margin:0%;
    padding-top: 0%;
    padding-left: 0%;
    width: 100vw;
    height: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  div#facilities{
    background: #000;
    display:block;
    /*float:left;*/
    margin-top:0px;
    margin-left:0vw;
    margin-bottom:0vw;    
    padding-top: 0%;
    padding-left: 0%;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  iframe{
    width:100vw;
    height: 100vw;
    border:none;
  }

  div#tools{
    background: #000;
    display:block;
    margin-top:0px;
    margin-left:0vw;
    margin-bottom:0vw;    
    padding-top: 0%;
    padding-left: 0%;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  p.section-blurb{
    font-size: 16px;
    padding-left:1vw;
    padding-right:1vw;
  }

  div.footer-container{
    width:99vw;
  }

  div#footerX{
    display:none;
  }




}

/* END RESPONSIVE ELEMENT HANDLING */ /* END RESPONSIVE ELEMENT HANDLING */ /* END RESPONSIVE ELEMENT HANDLING */

div.viewer-port, video {
  text-align: right;
  padding: 0px;
  text-transform: uppercase;
  cursor:pointer;
}

div.viewer-port background-image:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

/*.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

#section1{
  padding-left:0px;
  padding-right: 0px;
  display: block;
  width:100vw;
  height:97.5vh;
  overflow: hidden;
}

div#section2{
  padding-left:0px;
  padding-right: 0px;
  display: block;
  width:100vw;
  height:97.5vh;
  overflow: hidden;
}

div#section2a{
  background-color: #FFF;
  display: block;
  width:100vw;
  min-height:100vh;
  height:auto;
  padding-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5vh;
}

div#section3{
  display:block;
  padding:0px;
  padding-top: 55px;
  min-height: 100vh;
  height:auto;
}

div#sectionY{
  display:block;
  padding:0px;
  padding-top: 55px;
  height:auto;
}

div#section41{
  display: block;
  width:100vw;
  height:auto;
  margin-bottom: none;
}*/

div#button{
  margin-top: 1vh;
  margin-bottom: 3vh;
  width:50vw;
  display:block;
  margin-left: 25vw;
  margin-left: 25vw;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  padding:1vw;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: #e42a1d;
  color:white; 
}

/*div#section42{
  display: block;
  width:100vw;
  height:auto;
  min-height: 100vh;
  padding-left: none;
  padding-right: none;
}

#section42 div.viewer-port{
  color:white;
}*/

div.blurb{
  background-color: rgba(0,0,0,0.6);
  text-align: left;
  min-height:48vw;
}

/*div#section43{
  display:block;
  padding:0px;
  padding-top: 55px;
  height:auto;
}*/




.module.parallax-0 { 
  background-image: url("https://lh3.googleusercontent.com/CwgFZ_mMpr0PtVB81rdeRkKbHeURUeV6Pv9TmKln-zk5TvNseqPTJjjFPItL_SQSHhBhm89nLUQ0V1bVrqrnNdf9tAcyddWvXe-IY7wnxYy9fHWyca04I99-xUa4_pskfPyqRyp07h4iLl84uEjBvv_xOUaClXlp1PTRWIw6piyGtlzFZxJ5gQTpizWpFXNCj49bsQq9G6J7WpbCB3WY1DoultEtffC_HLK0uu-LkSM58tLyKvYeCJKyijAf_WDWacJL3W0R89y6lqPOnp5moJbEwLQV0uKjNURks0DFgQlE45wgZGjPWhidkALsHkoc4Q97V7gAgs3KrdlHyM9-dVCvmYrwhIHMTsCU9C_9PZOtvHN8BknTPcEfdM7WutWSqIbK9zNNxBhgrt2HTEweH3SI4H-_neVK-4WrYb59Rw_50FGE5STG-rNAS9vIL9YFBSkyGZ2nKMZJvASdmWLrFsHf9b6Wq-1bh32mYsON8kLp_-4Q51S6xSAp2JhRV4S0iBWGGphq6GMQ7hwMUnfseCDhoSCAig7GrLT72G891_7mMDOVCqAxFSSrDFvmHEsyK3vzY2cnMzSsKeXy3rJ58FRWIXSuqVlUY5HQukqrf81LkdU4fY8_bZDFyF4knvAz5e135XMS3IclZEUfd5D8sP4as3QeDJEJib2SRp0yLLK-otk=w3044-h1750-no");
}

.module.parallax-1 {  
  background-image: url("https://lh3.googleusercontent.com/oa2DS3SAkeCaKas_9jzL_J0yxkbd561s2f1uPp3WrdgWCz8YD_Av_KtfRnQHtQjdY-OBz73QB4MPeW4BsigK9CT59UW5E4qL2CSrbjXW_Sisy-sDfxwr8w8abaP2OsojugKvboBVlQB_V5_BQpcQVCun-wzPrj5WR_Jmq6CCA9aaKG5UB89EfHr4KXeTq_2OxVdI1kgCofMD23R2OpyGTF939HqC6Q3DFsbyvxAF7E6oTY-yuJPrWNJ_94eZ1GMCp2Rqx3R5LCpTIkvRdqxAM0o8TezVIMehuxVlgkxQ-ZiMlS6pK3tahLlc86vCxtg4-wp78DDQGLrC1kb9vclBXCZBGOxyZqX-O9wsR2bnKz3W_Nmqkifq2YZJ013WbtphPWVIEtLLQrNu2VNf9Ddo9chCfkb7s7nnFpUxLB7QKnx-c6l5PXI3FeYMkpFCJqQRZ9DnxNEXFR7tpDTr2t_dg_5ssROOozzje_NDxsPoLeuJ6SebuFXYnFM0SyfgXidxpqrD-YO52-GTLGyX17HgCTjpwe0taluJjK3tkI-ADAHfWnjjCCxHmGytXoz231r-hhni8YhPJW-8OfwHe-shhe08i7Wz5RZIhI_AogeKzAS_mhK9kIijQtOASs83d5IWye0XMDUuTWLJDAMEP08xKhrwFrY1WBgHeQ8_JylX6OoK3vE=w1404-h936-no");
}

.module.parallax-2 {  
  background-image: url("https://lh3.googleusercontent.com/s490w9VCJxPTF2R-RBuwU2qJWVOJz8AY-q0ki-HQRc8mqUVxBjM_Rw8Wdk4Ejmjg4iTAOXx4nlbov1L867v41w-sbPizyncUcZ4FOo0AmOXZDfm8X_EetlDnJgmWUKb4jNmEKMBQbPtOXlVJ5dFTOGRAHucpr-kU4QzK_ffvFLJpr7cNLawg_wE1aSOLEySQfZ1Uqs8JwJA-zer6mrPRJdG6vJd4i_GEYYvrmCu6CDYZljc1Z_4N8Kh-mH2fAMkmBAuWCpiYTEX8iVzyChEJENGQvsydG5dS3KGzRgOL2DXV0D4_MsOeLa7y9wdJcXgTCuTFBQyGBeEQ0qWfLNDJazUoSGbl6x8DNHGl9mDcOpY2ha0PAcVZztbXybeSbQipDBNMUYjCVNglSqyecO6nLdSLAw5gkkMLhE3BLmu3HCW9oNA4qDm46zO5a996-61Jj2ERhQmAUcG6nnvrpFueYchbjPUPit3TNjvtIL3dUaDErKRX0d2L0hqf_m65421IWV94q2AxF74H6_5xqEMQ5r7A52HFc2AAbmOVUg-4BqecjebhJAp14s3RKgekYdlYbgrZIFyBLlmfV0nHewO-cR1rA8mmxs6teOYsvFXRmcYfPu2-pFnY_DUNSLRdzFs_2pZ9lLHaqurNfNfeNukHbapycmhwv3V8rwuIejjjTo9RLIM=w2474-h1750-no");
}

.module.parallax-3 {  
  background-image: url("https://lh3.googleusercontent.com/wG-0Q_RvUot5hrW2n_YYcnwJ0HIk8E31LHDGE2z6ERB64lA6rDB6IGT9fHhUw66Jqqfn41fXXINV3H-4nWrjm4yQQ9ouI5HaYB--Wi6m5MfyLhZoEXnPbcXZjByM1UxN9X0i0pWKlvP__UcyKqj1KRNo4yD4HTquhW0rRAFDegqDCNHqVSRvsCGHG59agHTkM_wEsyU4ygNK5_EFj7tNwnIeotx4MBleWHAHL0FjKZThpU1LSMQuZP0GQwzBvk26F0x0ciaU00cEEL6At5I9ongz29PUV-Ioo2Egi3Gb9WlLwbCy-Bj3d3dPF8MpYVO61cMyRYogE-QKb7SOCa63QcaAxXGvZK2vgecuaZN5TDvQIyL_lBqcJC-5qTQOSUwo84yddEKNxrhnDv36HKD-o1m3UFmVWwVn3fIKPtr7SxbSLYGd2Xm_6LyhSaUqH9aY33WTB-Tqj-YUqFc3FjWyDrzwkdeORaDiznCTGTZgEl7Zef8fZZRwi68nIE3-zMbOPgt2sXoGExvv8oBcsiJsVwJaH7oU_6ksnvnVAfDddm4aUHcTHlN3dx48oc5OhC95vcsedIA3yoVpv8IVXcuzzcU1irT4OsHF91c2cbzIDRC36YVNbGaeYFprz0YFHyjxXgIDQA-Tn2XaxD4zyLtIYDq62GMbymEzFREN=w1256-h1034-no");
}

.module.parallax-4 {  
  background-image: url("https://lh3.googleusercontent.com/VZQjFJpEbJcGCeh5GQsFMnGWp4q1B9YeL5HtySdtQ2l_dCrijEihtJsK5Fnl7566NcWEfLboNsTRrC_U_8fkfq2JWL5PFa0ylg896eL4MkHzzj5EZZ_ZtCoFeAdp4eYoVAdTfPdIXXJkSqnE3yY16ULAcIcyVhJGLXPKCDMHKcecLulyDJdQUZsKUJkWSaw1FdpF7Iva4OIV8vnH-Z74DBLN4QTEZFtiy7iXJe2QY7K602EgraXPHbvSrmxArr9BWJeclCY27xLwm5riGfd1lDYnVAZR65-KZuOD8vXBKqXMJjttiYNXhaTm3o2SWnbSWIbDbcMdA2e2uctsyuPgt1Ioe5zQCTd4ynggQ9JIHlkiGYPO_Cchl-w3y3IlD2RycBeEnim4_yaU5rhD-iyNwVebtka72Rz-zKxNp_9utA0x_1kYgCcpp-b5LzqJSt5DBZh8aiG_c95sipcH7qpD22FR9fBIZWhrdC4B7TffHuEO1iQQ7KRsTqeZ3KhKwl1F57NDg-5JuWga6J4v0KXJ10FAEqQj9F_32tJbZn861XOcXIP9JDcMDlBM3FOr_0MSWqbYNGoIREN9gitcEQOXCAgAFVEKlI_D6u5egqTscYc12HkPaxKBlV7UuoHQ_pFPzwlBX9mPL-9IvVwOkuTS1x5j6SIEOp4b6yNRtjf1rh_qcRI=w2784-h1856-no");
}

.module.parallax-5 {  
  background-image: url("https://lh3.googleusercontent.com/hSbThHArrs37l62ux0A2byR4wHBAz6gCoxGxRS7yRr98PkKjShPXSWlMbw8PA8O-D7I1kmE8pTnmpk3elASqFW8XvriKUtsWcdVKAM1UfAWUriOzbnk8FIVQi244vn3zcSb330QWkWKgYw9ZQi6GdluqVohxd-1jlbPIXufT2WknOLVyRMIEovJT0cvZYNPfz1wlQWymOoIhe4bbQzUfYjd0KlLDRV1lxklRiB9JzZH2jrxcrJpXTcKdQVTmsmRTzY22rvNbM6oUYc3mjycZk4B1kEy-kkDoCLYUUbpOGCOWOQTwsHlhB1XBZTNUe_pbwrFloxYLby8iluREQ2Rq0CLHJ91t67jsGgDIBw31y1B4vVNA8eyX0L_hGG_KPs6dkcPAus_D2oKo7V0nOHnPtefS19xG_dfYbQ24cte5IPygyrOdJymSPc6p5RMczCnWNE2BXsX6uRm7vsESxOTpvPWKldMuNdt_6vHgOj9di-IL-PtPW-VUSRcWTA18hvvkTEOsvtv-AeSjRuM58W92r-odTYCo1H_fyu3Pe9holZTJOJuR3s-YsVCBHKoFKEevDuaeSa4fwCBKvgkItJOx1ZM81dbsSE-TaFykStSFVVbiUUFvK8fjzNMNXR498aRooJPpPRP1l00aGITZBbliCVfqtmgxL3a12B9wsK7MV-iWEzE=w2784-h1856-no");
}

.module.parallax {  
  height: 33vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*width:100vw;*/
}

/*TABBED GRID*/

a:focus, a:hover {
    /*font-weight: bolder;*/
    color: #000;
    text-decoration: underline;
}

tr:nth-child(even) {
  background: #CCC
}

/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */
/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */
/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */
/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */
/* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER *//* START FOOTER */

/*#footer-break{
  width:100vw;
  border-top:1em double black;

}

footer{
  display:block;
  width:100vw;
  margin: 1vw;
  padding: 1vw;
}
.footer-container{
  width:30vw;
  min-width:340px;
  position: block;
  float: left;
}

div.footer-additional{
  display:inline-block;
  float:none;
  width:100vw;
}
*/
/* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER *//* END FOOTER */

