.profile{
  max-width:500px;
  display:inline-block;
  margin:1%;
  border: 1px solid #fff;
  padding:25px;
}

.project{
  max-width:500px;
  display:inline-block;
  margin:1%;
  border: 1px solid #fff;
  padding:25px;
}

div.polaroid {
  width: 100%;
  max-width:500px;
  display:inline-block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  max-width:500px;
}

div.polaroid img {
  display: block;
  max-width:500px;
  max-height:250px;
  width: auto;
  height: auto;
  overflow: hidden;
}