body{
	margin:0px;
	font-family: 'Kanit', sans-serif;
}

h1{
	padding:0px;
	margin:0px;
}

.team{
	width:25vw;
	height:25vw;
	overflow: hidden;
	display:block;
	float:left;
}

.Mountain {
	background-color: mediumpurple;
}

.SEC {
	background-color: gold;
}

.PAC-12 {
	background-color: firebrick;
}

.sun {
	background-color: goldenrod;
}

.ACC {
	background-color: steelblue;
}

.big {
	background-color: powderblue;

}
.ivy {
	background-color: forestgreen;
}

.independent{
	background-color: lightgray;	
}

.usa{
	background-color: cornflowerblue;
}

.swac{
	background-color: darkred;
}


.Colonial{
	background-color: beige;
}

.Mid-American{
	background-color: coral;
}

.MEAC{
	background-color: darkolivegreen;
}

.Pioneer{
	background-color: khaki;
}