

body{
	margin:0px;
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: Verdana;	*/
	font-family: 'Raleway', sans-serif;
	/*text-transform: uppercase;*/
	font-size: 0.65em;
	/*font-weight: bolder;*/
}


#title{
	display: block;
	width:100vw;
	margin:0px;
	font-weight: bolder;
	font-size: 5em;
	padding-left: 1vw;
	height:auto;
	border:none;	
}

/*div{
	height:6vh;
	width:18vw;
	margin: 0px;	
	display: block;
	overflow:hidden;
	margin:0.25vw;
	border:0.25px solid black;
	padding-left: 1em;
	padding-right: 1em;	
	display:block;
	float:left;
}*/

h1{
	font-weight: bolder;
	font-size: 7em;
	display:block;
	margin:0px;
}

h2{
	margin-bottom: 1px;
	margin-top: 1px;
	font-size: 1.5em;
	line-height: 1.1em;
}

h3{
	margin-bottom:0px;
}

h4{
	display:block;
	float:none;
	padding:2px;
	margin:0px;
}

p{
	margin:0px;
}

.a {
	color: #E47C1D !important;
}

.appContainer{
	padding:5px;
	margin-top:5vh !important;
	border:2px solid #CCC;
	transition: border-color 0.5s;
}

.itemDetails{
	/*float:none;*/
	position:block !important;
	width:100%;
	max-width: 700px;
	/*border:1px dotted gold;*/
	height: 0px;
	overflow-y:scroll;

	transition: height 0.5s;
}

.appContainer:hover > .itemDetails{
	height:15vh;

}

.appContainer:hover{
	border-color: #222;

}


.diver{
	padding:3px;
}


.projectClass{
	color:#555;
	background-color:#bbb; 
	padding:5px;
	text-transform: uppercase;
}

.type11{
	display:none;
}

.statusTag{
	padding:1px 5px 1px 5px;
	margin:5px 5px 5px 0px;
	right:0px ;
	border-radius:5px;
	display:inline-block;
	font-weight: bolder;
}

.Unresolved, .Open, .Review{
	color:#FFF;
	color: #E47C1D;
	border:1px solid #E47C1D;
	font-size: 1.5em;

}

.Hold, .Not, .Deferred{
	color:#FFF;
	color: steelblue;
	border:1px solid steelblue;
	font-size: 1.5em;



}


.Resolved, .Completed .Archived{
	color:#FFF;
	color: #169b62;
	border:1px solid seagreen;
	font-size: 1.5em;	
}


.Planned{
	color:#FFF;
	color: purple;
	border:1px solid purple;
	font-size: 1.5em;	


}


.Occurred{
	color: #e42a1d;
	border:1px solid #e42a1d;
	font-size: 1.5em;



}

.Mitigated, .Closed{
	color:#FFF;
	color: gray;
	border:1px solid gray;
	font-size: 1.5em;



}