body{
	margin:0px;
	font-family: 'Kanit', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bolder;
}

div#container{
	width:100vw;
	height:100vh;
}

div.chip{
	width:32vw;
	height:11vw;
	margin:0.5vw;
	display:inline-block;
	background-color: steelblue;
	overflow:hidden;
}

div.Completed{
		background-color: gray;
		display:none;
		display:inline-block;
}

div.Warnings{
		background-color: gold;
		display:inline-block;
}

div.Errors{
		background-color: coral;
		display:inline-block;
}

/*div#PrintServiceRetrieveReportAndParmsAndGeneratePDF{
	width:32vw;
	height:11vw;
	margin:0.5vw;
	background-color: gold;
	display:inline-block;

}*/