

body{
	margin:0px;
	font-family: 'Kanit', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bolder;
}



div#container{
	width:100vw;
	height:100;
}

div.chip{
	width:32vw;
	height:22vw;
	margin:0.5vw;
	display:inline-block;
	background-color: steelblue;
	overflow:hidden;
}


/*ID STYLE*/

div#dataLoad{
	width:100vw;
	height:12.5vh;
	background-color: #8dd3c7;
}

div#documentDelivery{
	width:100vw;
	height:12.5vh;
	background-color: #ffffb3;
}

div#importErrorAggregation{
	width:100vw;
	height:12.5vh;
	background-color: #efefef;
}

div#documentRetrieval{
	width:100vw;
	height:12.5vh;
	background-color: #bebada;
}


div#printServiceRetrieveReportAndParmsAndGeneratePDF{
	width:100vw;
	height:12.5vh;
	background-color: #fb8072;
}

div#retrieval{
	width:100vw;
	height:12.5vh;
	background-color: #80b1d3;
}

div#scheduleLargeReports{
	width:100vw;
	height:12.5vh;
	background-color: #fdb462;
}

div#transformation{
	width:100vw;
	height:12.5vh;
	background-color: #b3de69;
}





/*CLASS STYLE*/

div.Completed{
		background-color: gray;
		/*display:none;*/
		/*display:inline-block;*/
}

div.Warnings{
		background-color: gold;
		display:inline-block;
}

div.Errors{
		background-color: coral;
		display:inline-block;

	    -moz-transition:all 2s ease-in-out;
	    -webkit-transition:all 2s ease-in-out;
	    -o-transition:all 2s ease-in-out;
	    -ms-transition:all 2s ease-in-out;
	    transition:all 2s ease-in-out; 
	    -moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
	    -webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
	    -ms-animation:blink normal 2s infinite ease-in-out; /* IE */
	    animation:blink normal 2s infinite ease-in-out; /* Opera */

}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.75;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.75;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.75;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.75;} 100%{opacity:1;}} /* Opera */