body{
	background-color: #EEE;
	color:#000;
	margin: 0px;
	padding:0px;
	font-family: 'Raleway', sans-serif;
}

h3, p{
	padding: 10px;
	color:#000;
}

image{
	/*filter:brightness(80%);*/
}

.anywhere span{
	background-color: gold;

}


.parent {
    min-height: 200px; min-width: 200px;
    background-color: #F00;
    margin-top: 1vh;
    width:100vw;
    height: auto;
    /*transition: all 2s;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover; 
}

.anywhere{
	font-size: 3em;
	display: block;
	height:200px;
	font-weight: bolder;
	margin:0px;
	padding:0px;
	padding-left:10px;
	background-color: rgba(255,255,255,0.3)
}

.print{
	width:33.333vw;
	/*height:200px;*/
	background-color: rgba(222,22,22,0.9);
	display: block;
	min-height: 200px;
    float: left;
    /*padding:3px;*/
}

.child {
    display: none;
    /*width:0px;*/
    /*height:0px;*/
    /*overflow: hidden;*/
    /*transition: all 2s;*/
}

.parent:hover {
    height:auto;
    color:#FFF;
    /*font-size: 0px;*/
    /*transition: font-size 2s;*/
}


.parent:hover p.anywhere{
    display: none;
    height: auto;
    /*font-size: 0px;*/
    /*transition: font-size 2s;*/
}

.parent:hover .child {
    display: block;
    overflow: hidden;
    color:#FFF;
    /*opacity: 0.5;*/
    /*transition: width 2s;*/
}

.parent:hover p, h3 {
    display: block;
    overflow: hidden;
    color:#FFF;
    /*opacity: 0.5;*/
    /*transition: width 2s;*/
}


