body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header {
	display: block;
	margin: 2px;
	padding: none;
	border: none;
}

p{
    padding-top: 7px;
    padding-bottom: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1{
	font-size: 20px;
	color: white;
	border: none;
	background-color: #167F8E;
	padding: 10px;
	padding-bottom: 40px;
	display: block;
}

/*div.tile{
	border:1px solid #E82E21;
    max-height: 150px;
    max-width: 150px;

}*/

.fa {
    font-size: 16px;
}

.spacer{
    display: block;
}

.tooltip {
	position: absolute;
	text-align: left;
	padding: 10px;
	font: 12px sans-serif;
	background: #EDEDED;
	border:3px solid darkgray;
	border-radius: 8px;
	pointer-events: none;
	display: none;
	width:200px;
	min-height: 150px
}

.tooltip.showit {
	display: block;
	opacity: 1;
}