body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color:#373332;
}

header {
	display: block;
	margin: 2px;
	padding: none;
	border: none;
	background-color: #167F8E;
}
.legend{
	padding-top: 22%;
	padding-bottom: 22%;
}

#clicker{
	margin-right: 6%;
	margin-left: 6%;	
	font-size: 12px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;	
}

#hardwareClicker{
	margin-right: 6%;
	margin-left: 6%;	
	font-size: 12px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

input#search{
	margin-right: 6%;
	margin-left: 6%;	
	font-size: 22px;
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

select#roomType{
	margin-right: 6%;
	margin-left: 6%;	
	margin-bottom: 1%;
	width: 16%;
}

#container{
	margin-left:5%;
	margin-right:5%

}

p{
    padding-top: 7px;
    padding-bottom: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-size: 14px;*/
}

h1{
	font-size: 20px;
	color: white;
	border: none;
	background-color: #167F8E;
	padding: 10px;
	padding-bottom: 10px;
	/*width: 100%;*/
	display: block;
	margin-right: 6%;
	margin-left: 6%;
}

div.tile{
	float: left;
	padding: 1%;
	margin:0.5%;
	width:18%;
	height:333px;
	background-color: whitesmoke;
	border:2px solid slategray;
	border-radius: 1px;
	min-width: 190px;
	max-width: 230px;
}

/*div.tile.dvdTRUE{
	background-color: yellow;
}*/

/*/////////////FONT AWESOME STYLING START*/
.fa {
    font-size: 24px;
    color: #167F8E;
	vertical-align: middle;
}

.fa-windows{
	color: #E88021;
}

.fa-apple{
	color:#167F8E;
}

.fa-video-camera{
	color: #930B00;
}

.fa-clipboard{
	color: #024F5A ;
}

.fa-play-circle-o{
	color: #568900;
}

.fa-film{
	color: brown;
}

.fa-music{
	color: navy;
}

.fa-times-circle{
	color:black;
}

.closer{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;


}

/*/////////////FONT AWESOME STYLING END*/

.spacer{
    display: block;
}

.tooltip {
	position: absolute;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	background: whitesmoke;
	color: #1B1413;
	border:2px solid #E88021;
	border-radius: 2px;
	pointer-events: none;
	display: none;
	width:30%;
	min-height: 150px
	box-shadow: 10px 10px 5px #888888;
	margin: 10px;
	padding-bottom: 50px;
	box-shadow: 10px 10px 75px black; /*#888888;*/
	margin-left:5%;
	margin-right:5%

}

iframe{
	border:1px solid #E88021;
	border-radius: 2px;

}

.tooltip.showit {
	display: block;
	opacity: .95;
	background-color: #FFB877;
}