body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /*color:#373332;*/
}

header {
	display: block;
	width: 100%;
	max-height: 300px;
	padding: none;
	border: none;
	background-color: #e82e21;
	margin: none;
	top:0;
	left:0;

}
#container{
	margin-left: 6%;
	margin-right: 6%;
	height: 100%;
	/*margin-top: 190px;*/
	display: block;
}

div.tile{
	float: left;
	padding: 1%;
	margin:0.5%;
	width:49%;
	height:55%;
	background-color: whitesmoke;
	border:2px solid slategray;
	border-radius: 1px;
/*	min-width: 190px;
	max-width: 230px;*/
	text-align: center;
}
div.factor{
	display: inline-block;
	width:50%;
	height:50%;
	padding:none;
	margin:none;
}

i{
	margin:10px;
}

.fa {
    font-size: 800%;
/*    color: #167F8E;*/
	vertical-align: middle;
}

.inactive{
	color:red;
}

h1{
	font-size: 20px;
	color: white;
	border: none;
	/*background-color: #167F8E;*/
	padding: 5px;
	padding-bottom: 5px;
	/*width: 100%;*/
	display: block;
	margin: none;
}

h2{
	font-size: 500%;
	margin:1px;
	font-weight: 900;
	letter-spacing: -4px;
}


p{
    padding-top: 7px;
    padding-bottom: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-size: 14px;*/
}


/*////////////////////////////////////*/

.tooltip {
	position: absolute;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	background: whitesmoke;
	color: #1B1413;
	border:2px solid #E88021;
	border-radius: 2px;
	pointer-events: none;
	display: none;
	width:30%;
	min-height: 150px
	box-shadow: 10px 10px 5px #888888;
	margin: 10px;
	padding-bottom: 50px;
	box-shadow: 10px 10px 75px black; /*#888888;*/
	margin-left:5%;
	margin-right:5%

}

/*iframe{
	border:1px solid #E88021;
	border-radius: 2px;

}*/

.tooltip.showit {
	display: block;
	opacity: .95;
/*	background-color: #FFB877;*/
	background-color: floralwhite;	
}