/*@font-face {
    font-family: "Nueue";
    src: url(Neue);
}*/


body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'NeueDisplay-Ulta', sans-serif;*/
    font-size: 14px;
    /*color:#373332;*/
}

header {
	display: block;
	width: 100%;
	height: 100px;
	padding: 0px;
	border: none;
	background-color: #e82e21;
/*	margin: none;*/
	top:0;
	left:0;

}
#container{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1.5%;
	height: 100%;
	/*margin-top: 190px;*/
	display: block;
}

div.tile{
	float: left;
	padding: 3%;
	margin: 1%;
	width:48%;
	height:50%;
	background-color: whitesmoke;
	border:2px solid slategray;
	border-radius: 1px;
/*	min-width: 600px;
	max-width: 230px;*/
	text-align: center;
	display:block;
	/*margin: auto;*/
}

div.factor{
	display: inline-block;
	width:25%;
	height:25%;
	padding:none;
	margin:none;
}

i{
	margin:10px;
}

.fa {
    font-size: 800%;
/*    color: #167F8E;*/
	vertical-align: middle;
}

/* The element to apply the animation to */
/* The animation code */

div.inactive{
	color:#e82e21;

}

h1{
	font-size: 126px;
	color: white;
	border: none;
	/*background-color: #167F8E;*/
	/*padding: 5px;*/
	/*padding-bottom: 5px;*/
	/*width: 100%;*/
	display: block;
	margin: none;
	padding: none;
	font-weight: 900;
	letter-spacing: -6px;
	vertical-align: text-top;
}

h2{
	font-size: 500%;
	margin:1px;
	font-weight: 900;
	letter-spacing: -4px;
}


p{
    padding-top: 7px;
    padding-bottom: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-size: 14px;*/
}


/*////////////////////////////////////*/

.tooltip {
	position: absolute;
	font-size: 12px;
	text-align: left;
	padding: 10px;
	background: whitesmoke;
	color: #1B1413;
	border:2px solid #E88021;
	border-radius: 2px;
	pointer-events: none;
	display: none;
	width:30%;
	min-height: 150px
	box-shadow: 10px 10px 5px #888888;
	margin: 10px;
	padding-bottom: 50px;
	box-shadow: 10px 10px 75px black; /*#888888;*/
	margin-left:5%;
	margin-right:5%

}

/*iframe{
	border:1px solid #E88021;
	border-radius: 2px;

}*/

.tooltip.showit {
	display: block;
	opacity: .95;
/*	background-color: #FFB877;*/
	background-color: floralwhite;	
}

/*///////////////////////////////*/


@-webkit-keyframes fadeIn { from { margin-left:100%; } to { margin-left:-550px; } }
@-moz-keyframes fadeIn { from { margin-left:100%; } to { margin-left:-550px; } }
@keyframes fadeIn { from { margin-left:100%; } to { margin-left:-550px; } }

.fade-in {
  opacity:1;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 2;   call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time 
  -moz-animation:fadeIn ease-in 2;
  animation:fadeIn ease-in 2;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:27s;
  -moz-animation-duration:27s;
  animation-duration:27s;
}



/*.fade-in.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay:1s;
  animation-delay: 1s;
}*/


/*---make a basic box ---*/
.box{
  width: 100%;
  height: 25px;
  position: absolute;
  display:block;
  margin: 10px;
  font-size: 20px;
  /*float: left;*/
  /*border: 1px solid #333;*/
  /*background: #000;*/
  color:black;

}