body {
	font-family: 'Shadows Into Light', cursive;
	margin:10px;
	padding: 10px;
}

header {


}


h1 {
	font-size: 55px;
	font-weight: bold;
	font-stretch: extra-expanded;
}

svg {
	padding: 50px;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px
}

#xaxis .domain {
	fill:none;
    stroke:#000;
}
  
#xaxis text, #yaxis text {
    font-size: 18px;
}