body {
    padding: 0;
    margin: 0;
}

body {
    padding: 1%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Dosis', sans-serif;
    color:#DDD;
}

#map {
    margin-top:1%;
    height: 800px;
    width: 100%;
    border:1px #FFF;
    stroke:1px;

}



/*svg{
    width:100%;
}

h1{
    font-size: 44px;
}

div{
    display:block;
}*/

/*MAP*/

#map {

    height: 800px;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    display:block;
    margin-top:1%;
    border: 1px solid #333333;
}
div.leaflet-popup-content-wrapper, div.leaflet-popup-tip{
    background-color: gray;
    color:#EEE;
    border-radius: 0;
}

/*PLANETS*/
#planets{
    margin: auto;
    margin-top:1%;
    height: 800px;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    display:block;
    border: 1px solid #333333;

}

.p_name {
    color:#FFF;
}
/*.group {*/
  /*fill: none;*/
 /* stroke: #FFF;
  stroke-width: 1.5px;*/
/*}*/
