body {
    padding: 20px;
    margin: 20px;
    font-family: 'Dosis', sans-serif;
    color:#DDD;
}

svg{
    width:100%;
}

h1{
    font-size: 44px;
}

div{
    display:block;
}

/*MAP*/

#map {
    margin-top:0;
    height: 630px;
    width: 100%;
    color:#000;
    font-family: 'Dosis', sans-serif;
    display:block;
}
div.leaflet-popup-content-wrapper, div.leaflet-popup-tip{
    background-color: gray;
    color:#EEE;
    border-radius: 0;
}

/*TOUR*/

/*svg, canvas {*/
  /*position: absolute;*/
/*}*/

/*#tour{*/
    /*display:block;*/
/*}*/



/*SPHERE*/
/*svg{*/
    /*margin-top:150px;*/
/*}*/

/*PLANETS*/
.group {
  /*fill: none;*/
  stroke: #FFF;
  stroke-width: 1.5px;
}
