body, html{
	margin:0;padding:0;
	font-size: 1.2em;
	font-family: Arial;
	background-color: lightgray;
}

section{
	max-width: 1220px;
	width: 88%;
	margin: 5px auto 40px;
	border: 1px solid #333;
	border-radius: 5px;
}

h2{
	font-size: 77px;
	background-color: none;
	width:800px;
	font-family: 'Arimo', sans-serif;
	text-align: center;
	padding: 6px;
	margin:6px;
	color: #393E41;
}

h3{
	margin: 2px 0;
	font-family: 'Arimo', sans-serif;
	font-size: 28px;
}


svg{
	border: 2px solid #333;
	margin: 30px auto;
	background-color: white;
	border-color: black;
}
svg.block{
	display: block;
}

.svgbox{
	position: relative;
	min-height: 400px;
}

.domain{
	display: none;
}
.x.axis .domain{
	display: block;
	stroke: #bbb;
}

.axis text{
	font-size: 12px;
	fill: #000;
}

.axis .tick line{
	stroke: #bbb;
	stroke-width: 1px;
}
.y.axis .tick line{
	stroke: #bbb;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}



#lines .x.axis .domain{
	display: none;
}

.typelabel{
	fill: #333;
	font-size: 10px;
	font-style: bold;
	font-family: Helvetica;
}


.countrygroup .typelabel{
	display: none;
}
.countrygroup.active .typelabel{
	display: block;
}
.countrygroup.active path{
	stroke: #111;
	opacity: 1;
}
.countrygroup path{
    fill: none;
    opacity: .50;
    stroke-width: 2;
    stroke: #FB5012;
}


/*GRIDLINES*/
#lines .axis line{
	stroke: #ddd;
	stroke-dasharray: 0,4;
}

section {
	padding: 20px;
	width: 800px;
	background-color: white;
	font-size: 12px;
}

img{
	float: right;
	border: 1px solid #000;
	margin: 5px;
	padding: 5px 

}

.title-space{
	background-color: none;
	color: none;

}



