body{
font-family:helvetica;
}

div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: 200px;          
    height: auto;         
    padding: 5px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

text{
  font-size: 2em;
}

circle{
  stroke:#222;
  stroke-width:0.25;
  opacity: .8;
}

circle.LOW{
  fill: steelblue;

}
circle.MODERATE{
  fill: coral;
}
circle.HIGH{
  fill: darkred;
}


/*SCHED*/
.pending {
  fill: #9bddff;
}

#gantt text{
  font-size:0.5em;
}

.bar {
        fill: #45BCFC; 
}

.bar:hover, .pending:hover {
     fill: #3498db;
}

.axis path{
      fill: none;
      stroke: #111;
      shape-rendering: crispEdges;
}

.axis line {
      fill: none;
      stroke: #eee;
      shape-rendering: crispEdges;
}

.legend {
        padding: 5px;
        font: 16px sans-serif;
        background: yellow;
        box-shadow: 2px 2px 1px #888;
}

.tooltip {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        z-index: 10;
        display: block;
        opacity: 0;
}