  body {
      background: #fff;
  }
  .node {
      cursor: pointer;
  }
  .node circle {
      /*fill: #fff;
                stroke: steelblue;*/
      
      stroke-width: 3px;
  }
  .node text {

      position:relative;
      font: 12px sans-serif;
      fill: #222;
      opacity: 0.8;
      -webkit-transition: fill 2s, z-index 2s, font-size 1s, opacity 2s, background 2s;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      writing-mode: tb-rl;



  }

  .node text:hover {
    fill: #001;
    background:#000;
    z-index: 10;
    font-size: 14px;
    opacity: 1;
  }




  .link {
      fill: none;
      stroke: #555;
      stroke-width: 2px;
  }
  .tree {
      margin-bottom: -10px;
      overflow: auto;
  }