  body {
      background: #fff;
  }
  .node {
      cursor: pointer;
  }
  .node circle {
      /*fill: #fff;
                stroke: steelblue;*/
      
      stroke-width: 3px;
  }
  .node text {
      font: 12px sans-serif;
      fill: #999;
      -webkit-transition: fill 2s, z-index 2s, font-size 1s;
  }

  .node text:hover {
    fill: #000;
    z-index: -10;
    font-size: 24px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }




  .link {
      fill: none;
      stroke: #555;
      stroke-width: 2px;
  }
  .tree {
      margin-bottom: -10px;
      overflow: auto;
  }