@font-face {
    font-family: 'Neue-Regular';
    src: url(Neue-Regular.otf);
}


@font-face {
    font-family: 'NeueDisplay-Random';
    src: url(NeueDisplay-Random.otf);
}

@font-face {
    font-family: 'NeueDisplay-Wide';
    src: url(NeueDisplay-Wide.otf);
}