html{
	font-family: 'Poppins', sans-serif;
}

table{
	border-collapse: collapse;
	width:100%;
}

th{
	text-align: left;
	background-color: #333;
	color:#EEE;
}

tr{
	border:0.1em solid #eeeeee;
}

/*tr.Archived{
	display: none;
}*/

tr:nth-child(even) {
	background-color: #f2f2f2;	
}

tr:hover {
    background-color: #FFE6A3;
}


th, td{
	padding:0.25em;
}

/* unvisited link */
a {
  color: #222;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

div.risky{
	background-color: #FFB8A3;
	text-align:center;
	padding:.35em;
	border-radius: .25em;
}

div.cost{
	background-color:#8CDBB1;
	text-align:center;
	padding:.35em;
	border-radius: .25em;
}


div.complexity{
	/*background-color: #B9DAEB;*/
	/*text-align:center;*/
	padding:.35em;
	border-radius: .25em;
}

div.Initiating{
	background-color: #B9DAEB;
	text-align:center;
	padding:.35em;
	border-radius: .25em;
}

div.Planning{
	background-color: #8AB9D2;
	text-align:center;
	padding:.35em;	
	border-radius: .25em;
}

div.Executing{
	background-color: #5FBF8C;
	text-align:center;
	padding:.35em;	
	border-radius: .25em;
}

div.Closing{
	background-color: #5C92AF;
	text-align:center;
	padding:.35em;	
	border-radius: .25em;
}

div.Canceled{
	background-color: lightgray;
	text-align:center;
	padding:.35em;
	border-radius: .25em;
}

div.Archived{
	background-color: lightgray;
	color:gray;
	text-align:center;
	border-radius: .25em;
	padding:.35em;
}

.start, .end, .deadline, .progress, .budget, .cost, .fte, .risky{
	text-align:center;	
}

/*///////////////////////////////////////////////////////////*/

thead th { position: sticky; top: 0; }

img{
	/*margin:auto;*/
	/*height:30px;*/
	width:100%px;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 33%;					
    height: auto;					
    padding: 1em;
    text-align: left;				
    font: 1em sans-serif;		
    background: #cdcdcd;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

svg{
	height:10px;
	width:100%;
}

.addinfo{
	font-size: 11px;
	color:#222;
	/*opacity:.7;*/
}