html{
	font-family: 'Poppins', sans-serif;
}

table{
	border-collapse: collapse;
}

th{
	text-align: left;
	background-color: #333;
	color:#EEE;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffff99;
}


th, td{
	padding:0.75em;
}
.risky{
	background-color: coral;
}

td.Initiating{
	background-color: lightblue;
}

td.Planning{
	background-color: seagreen;
}

td.Executing{
	background-color: lightgreen;
}

td.Closing{
	background-color: steelblue;
}

td.Archived{
	background-color: lightgray;
}

td.Archived{
	background-color: gray;
}

/*///////////////////////////////////////////////////////////*/

thead th { position: sticky; top: 0; }

img{
	/*margin:auto;*/
	/*height:30px;*/
	width:100%px;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60%;					
    height: auto;					
    padding: 1em;
    text-align: left;				
    font: 1em sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}